
// Single line or multi-line alignment of items
// Params:
// - nowrap: all items will fit in one single line
// - wrap: items will be arranged in multiple lines
@mixin flexbox-wrap($wrap) {
  @if ($wrap == nowrap) {
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  
  } @elseif ($wrap == wrap) {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  
  } @elseif ($wrap == wrap-reverse) {
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
  }
}
