@mixin flexbox-align-items($value) {
  @if $value == flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
  } @else if $value == flex-end {
    -webkit-box-align: end;
    -ms-flex-align: end;
  } @else {
    -webkit-box-align: $value;
    -ms-flex-align: $value;
  }
    
  -webkit-align-items: $value;
  -moz-align-items: $value;
  align-items: $value;
}