/* Welcome to Compass. In this file you should write your main styles. (or centralize your imports) Import this file using the following HTML or equivalent: <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

html { line-height: 1; }

ol, ul { list-style: none; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

q, blockquote { quotes: none; }
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

a img { border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }

/* No files to import found in molecules/**\/* */
/* No files to import found in organisms/**\/* */
/* No files to import found in structures/**\/* */
html body section h3 { display: none; }
html body section article { display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Chrome */ display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */ -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; -moz-justify-content: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; -webkit-align-items: center; -moz-align-items: center; align-items: center; }
html body section article figure { display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Chrome */ display: flex; /* NEW, Spec - Opera 12.1, Firefox 20+ */ padding: 10vh 2.5vw; }
html body section article figure img { max-width: 100%; height: auto; }
html body section article figure figcaption { margin: 10vh 2.5vw; padding: 10vh 2.5vw; }

html body #iorad article figure.tablet img { padding: 3.75vw; background: #5a6e92; -moz-border-radius: 1.25vw; -webkit-border-radius: 1.25vw; border-radius: 1.25vw; }
html body #iorad article figure.mobile img { padding: 7.5vh 1.25vw; background: #5a6e92; -moz-border-radius: 2.5vw; -webkit-border-radius: 2.5vw; border-radius: 2.5vw; }
html body #iorad article figure.desktop img { border-top: 3.75vh solid #5a6e92; -moz-border-radius: 0.75vw 0.75vw 0 0; -webkit-border-radius: 0.75vw; border-radius: 0.75vw 0.75vw 0 0; }
html body #iorad article figure figcaption { font-size: 150%; }
html body #iorad article figure figcaption p { margin-top: 1.25em; }

html body #occrp article { background: #f1f1f1; }
html body #occrp article figure.tablet img { padding: 3.75vw; background: #666666; -moz-border-radius: 1.25vw; -webkit-border-radius: 1.25vw; border-radius: 1.25vw; }
html body #occrp article figure.mobile img { padding: 7.5vh 1.25vw; background: #666666; -moz-border-radius: 2.5vw; -webkit-border-radius: 2.5vw; border-radius: 2.5vw; }
html body #occrp article figure.desktop img { border-top: 3.75vh solid #666666; -moz-border-radius: 0.75vw 0.75vw 0 0; -webkit-border-radius: 0.75vw; border-radius: 0.75vw 0.75vw 0 0; }

html body #scatter article { background: #f1f1f1; }
html body #scatter article figure.tablet img { padding: 3.75vw; background: #363636; -moz-border-radius: 1.25vw; -webkit-border-radius: 1.25vw; border-radius: 1.25vw; }
html body #scatter article figure.mobile img { padding: 7.5vh 1.25vw; background: #363636; -moz-border-radius: 2.5vw; -webkit-border-radius: 2.5vw; border-radius: 2.5vw; }
html body #scatter article figure.desktop img { border-top: 3.75vh solid #363636; -moz-border-radius: 0.75vw 0.75vw 0 0; -webkit-border-radius: 0.75vw; border-radius: 0.75vw 0.75vw 0 0; }
