$breakpoint-mobile: 37.5em; // Screens with less than 600px width
$breakpoint-laptop: 64em; // Screens starting with 1024px width
$breakpoint-desktop: 90em; // Screens with more than 1440px width



@mixin mobile {
  // Mobile devices in both portrait and landscape mode 
  @media only screen and (max-width: $breakpoint-mobile - 0.001) {
    @content
  }
}

@mixin tablet {
  // Tablets in both portrait and landscape mode 
  @media only screen and (min-width: $breakpoint-mobile) and (max-width: $breakpoint-laptop - 0.001) {
    @content
  }
}

@mixin below-laptop {
  // Mobile and tablet devices in both portrait and landscape mode 
  @media only screen and (max-width: $breakpoint-laptop - 0.001) {
    @content
  }
}

@mixin laptop-and-up {
  // Everything above 1024px 
  @media only screen and (min-width: $breakpoint-laptop) {
    @content
  }
}

@mixin desktop-and-up {
  // For large screens above 1440px 
  @media only screen and (min-width: $breakpoint-desktop) {
    @content
  }
}
