html {

  body {
    #works {
      height: 100vh;
      position: relative;

      h3 {
        display: none;
      }

      article {
        position: absolute;
        background: lightgrey;
        width: 95vw;
        height: 95vh;
        margin: 2.5vh 2.5vw;

        &#iorad {
          //background: #729227;
          background: #3B485F;
          width: 100vw;
          height: 100vh;
          margin: 0;

          @include flexbox($justify-content: center, $align-items: center);
          figure {
            &.tablet.landscape {
              margin-right: 5vw;

              img {
                border: 2.5vw solid #5A6E92;
                @include border-radius(.75vw);
              }
            }

            &.mobile.portrait {
              img {
                background: #5A6E92;
                padding: 7.5vh 1.25vw;
                @include border-radius(1.25vw);
              }
            }

          }

        }
      }
    }

  }
}
