html {
  body {
    section {
      h3 {
        display: none;
      }

      article {
        @include flexbox($wrap: wrap, $justify-content: center, $align-items: center);

        background: #f1f1f1;
        $color: #D7D7D7;
        @include mockup-colors($color);

        figure {
          @include flexbox;
          padding: 10vh 2.5vw;

          img {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
